<!DOCTYPE html>
<html>
<head>
    <title>Site de Cartes</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/store.css">
    <link rel="stylesheet" type="text/css" href="css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="application/javascript" src="js/client.js"></script>
</head>
<body>
    {{> navbar}} 
    
    {{{body}}}
</body>

<footer>
    ©2024, Équipe 4 Tous Droits Réservés.
</footer>
</html>
