<h1>Collection de Cartes</h1>
<div class="gallery">
    <img src="/images/card1.jpg" alt="Carte 1">
    <img src="/images/card2.jpg" alt="Carte 2">
    <img src="/images/card3.jpg" alt="Carte 3">
    <img src="/images/card4.jpg" alt="Carte 4">
</div>
<a href="/cardlist">Voir toutes les cartes</a>


<script>
    // Change la page active sur la navbar
    activeCardCollNavbar();
</script>