<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cartes de Collection</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <button id="connect">Se connecter</button>
  </header>
  <main>
    <h1>Cartes de Collection</h1>
    <div class="card-container">
     
    </div>
    <button id="viewAll">Voir toutes les cartes</button>
  </main>
  
  <script src="app.js"></script>
</body>
</html>
